.item {
  display: flex;
  /* align-items: center; */
  /* flex-basis: calc(100% / 3); */
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}
.status {
  align-self: center;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
}
.status.not-active {
  background-color: red;
}
.avatar {
  border-radius: 10%;
}
.name {
  text-align: center;
}
